/**
 *  General
 */
body {
    background-color: #B05F3C;
}

a {
    text-decoration: none;
    color: #FF9331;
}
a:hover {
    color: #FFBF48;
}

ul, ol {
  list-style: none;
}

h1, h2, h3,
ul, ol, div, a {
    margin: 0px;
    padding: 0px;
}

ul.collapsed {
  display: none;
}
ul.expanded {
  display: list-item;
}

#header,
#content,
#footer,
.menu-list,
.menu-container {
  float: left;
  clear: both;
}

/**
 *  Gender
 */
.gender_ {
    background-image: url('../images/gender_.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.gender_M {
    background-image: url('../images/gender_Ms.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.gender_F {
    background-image: url('../images/gender_Fs.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

.gender_P {
    background-image: url('../images/gender_P.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 16px;
}

/**
 *  Photo icon
 *  Thing/person has photo?
 */
/*Add photo to links background. (In order to remove duplicated links in html structure)*/
.family-toc a .photographied,
.individual-toc a .photographied {
    background-image: url('../images/photo.gif');
    background-repeat: no-repeat;
    background-position: right center;
}

/**
 * Menu
 */
.menu-item {
  float: left;
  margin-bottom: 5px;
}

.menu-item > a {
  float: left;
  width: 0px;
  height: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.menu-home a {
  background-image: url(../images/toc_home.jpg);
}

.menu-individuals-toc a {
  background-image: url(../images/toc_individuals.jpg);
}

.menu-families-toc a {
  background-image: url(../images/toc_families.jpg);
}

.menu-container {
  height: 2em;
}

.menu-container a {
  background-image: none;
}

.menu-container .toc-list .toc-item {
  float: left;
}

.menu-container .toc-list-depth-0 > ul {
  position: relative;
  top: 5px;
  padding: 4px;
}

.toc-item {
  position: relative;
  background-color: #B05F3C;
}

.toc-item span {
  cursor: pointer;
  width: 10em;
}

.toc-depth-1:hover,
.toc-depth-2:hover,
.toc-depth-3:hover {
  background-color: #C06F4C;
}

.toc-list-depth-0,
.toc-list-depth-1 > .toc-item:first-child span,
.toc-list-depth-2 > .toc-item:first-child span {
  border-top-width: thin;
  border-top-style: solid;
  border-top-color: orange;
}

.toc-depth-1,
.toc-list-depth-1 > .toc-item:last-child span,
.toc-list-depth-2 > .toc-item:last-child span {
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: orange;
}

.toc-depth-2,
.toc-depth-3,
.toc-list-depth-0 > .toc-item:first-child span {
  border-left-width: thick;
  border-left-style: solid;
  border-left-color: orange;
}

.toc-depth-2,
.toc-depth-3,
.toc-list-depth-0 > .toc-item:last-child span {
  border-right-width: thin;
  border-right-style: solid;
  border-right-color: orange;
}

.toc-list {
  position: absolute;
}

.toc-depth-1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.toc-depth-2 {
  display: block;

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.toc-depth-3 {
  position: static;
  display: block;
  clear: right;

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.toc-list-depth-2 {
  z-index: 2;
  left: 20px;
}

.toc-list-depth-2 li {
  width: 100%
}

/**
 * Content
 */
#content {
  margin-top: 1em;
}